/* GENERAL CSS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1006px;
    margin: 0 auto;
    padding: 0 20px;
}

/********************************************* HEADER ******************************************/

.header {
    background: #FFF5F0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-wrappr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.header-logo-link:hover {
    opacity: 0.8;
}

.header-logo-link:active {
    opacity: 0.4;
}


.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    margin-left: 65px;
}



.navbar-link {
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #737373;
    padding: 5px;
} 

.navbar-link:hover {
    border-bottom: 3px solid #737373;
}

.navbar-link:active {
    color: white;
    background-color: black;
    border-bottom: 3px solid black;
}

.navbar-link + .navbar-link {
    margin-left: 21px;
}

.header-link {
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #1BA0AB;
    margin-right: 45px;
 
}

.header-btn {
    margin: 0;
    background: #1BA0AB;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 25px;
    margin: 20px 0px;
}

.header-btn:hover {
    opacity: 0.8;
}

.header-btn:active {
    opacity: 0.4;
}

.header-btn-link {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 15px;
}

/*************************************** MAIN ***********************************/

/* HERO */

.hero {
    margin-top: 92px;
    background: #FFF5F0;
    background-image: url("../images/Medical-img.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 440px);
    margin-bottom: 160px;
}

.hero-container {
    width: 1163px;
}

.hero-left {
    padding-bottom: 163px;
}

.hero-link {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1BA0AB;
    text-decoration: none;
    margin-bottom: 30px;
}

.hero-title {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    color: #252B42;
    width: 542px;
    margin-bottom: 30px;
}

.hero-text {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
    margin-bottom: 30px;
}

.hero-wrappr {
    margin: 0;
    display: flex;
    align-items: center;
}

.hero-left {
    padding-top: 170px;
}

.hero-link-btn {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    background: #1BA0AB;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 40px;
    border: 2px solid #1BA0AB;
}

.hero-link-btn:hover {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #1BA0AB;
    background: #1BA0AB;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    border: 2px solid #1BA0AB;
    transition: 0.3s;
}

.hero-link-btn:active {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: white;
    background: #1BA0AB;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.6;
}

.hero-link-btn-right {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    background: #1BA0AB;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px 40px;
    margin-left: 10px;
    border: 2px solid  #1BA0AB;
}

.hero-link-btn-right:hover {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #1BA0AB;
    background: #1BA0AB;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    border: 2px solid #1BA0AB;
    transition: 0.3s;
}

.hero-link-btn-right:active {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: white;
    background: #1BA0AB;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.6;
}

/* ABOUT */

.about {
    margin-bottom: 220px;
}

.about-wrappr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity__img {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.activity__heading {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #252B42;
    margin-bottom: 35px;
}

.activity__desc {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    width: 351px;
    margin-bottom: 35px;
}

.activity__wrappr {
    display: flex;
    align-items: center;
}

.activity__link {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #1BA0AB;
    text-decoration: none;
    margin-right: 10px;
}

.box-wrappr {
    display: flex;
    align-items: center;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    width: 250px;
}

.box + .box {
    margin-left: 15px;
}

.box__img {
    margin: 35px 139px 20px 40px;
}

.box__book {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 24px;
    color: #252B42;
    margin: 20px 40px;
}

.box__image {
    margin: 20px 40px;
}

.box__desc {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    padding-left: 40px;
    padding-bottom: 35px;
}

/* EXPERTES */

.experts {
    padding-top: 160px;
    margin-bottom: 100px;
}

.expertes-wrappr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




